{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
    <h2 class="title is-2">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">{% csrf_token %}
	      <div class="field">
	        <div class="control">
		  {% if form.password1.errors %}
		    {% render_field form.password1 class+="input is-danger" placeholder=form.password1.label %}
		    {% for error in form.password1.errors %}
		      <p class="help is-danger">{{ error }}</p>
		    {% endfor %}
		  {% else %}
		    {% render_field form.password1 class+="input" placeholder=form.password1.label %}
		    <p class="help">{{ form.password1.help_text }}</p>
		  {% endif %}
	        </div>
	      </div>

	      <div class="field">
	        <div class="control">
		  {% if form.password2.errors %}
		    {% render_field form.password2 class+="input is-danger" placeholder=form.password2.label %}
		    {% for error in form.password2.errors %}
		      <p class="help is-danger">{{ error }}</p>
		    {% endfor %}
		  {% else %}
		    {% render_field form.password2 class+="input" placeholder=form.password2.label %}
		    <p class="help">{{ form.password2.help_text }}</p>
		  {% endif %}
	        </div>
	      </div>

	      <input class="button is-success" type="submit" name="action" value="{% trans 'Change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
