{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}


{% block main %}

<div class="card">
  <div class="card-content">
    <div class="content">

      <h2 class="title is-2">🤝 {% trans "Sign Up" %}</h2>


      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}

      <div class="field">
        <div class="control">
          {% if form.email.errors %}
            {% render_field form.email class+="input is-danger" placeholder=form.email.label %}
	    {% for error in form.email.errors %}
	      <p class="help is-danger">{{ error }}</p>
	    {% endfor %}
          {% else %}
            {% render_field form.email class+="input" placeholder=form.email.label %}
	    <p class="help">{{ form.email.help_text }}</p>
          {% endif %}
        </div>
      </div>

      <div class="field">
        <div class="control">
          {% if form.password1.errors %}
            {% render_field form.password1 class+="input is-danger" placeholder=form.password1.label %}
	    {% for error in form.password1.errors %}
	      <p class="help is-danger">{{ error }}</p>
	    {% endfor %}
          {% else %}
            {% render_field form.password1 class+="input" placeholder=form.password1.label %}
	    <p class="help">{{ form.password1.help_text }}</p>
          {% endif %}
        </div>
      </div>

      <div class="field">
        <div class="control">
	  {{ form.captcha }}
	  {% if form.captcha.errors %}
	    {% for error in form.captcha.errors %}
	      <p class="help is-danger">{{ error }}</p>
	    {% endfor %}
	  {% endif %}
        </div>
      </div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="button is-success" type="submit" id="sign_up_button">{% trans "Sign Up" %}</button>
    </form>

    <hr>
    <a href="{% url 'account_login' %}">{% trans "Already have an account" %}?</a>

    </div> <!--content-->
  </div> <!--card content-->
</div> <!--card-->

<br>
<div class="has-text-centered">
  {% url 'terms_and_conditions' as terms_urls %}
  <small class="">{% blocktrans %}By registering, you agree to our <a href="{{ terms_urls }}" target="_blank">Terms and Conditions</a>{% endblocktrans %}.</small>
</div>


{% endblock main %}
