{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}Create a list{% endblock %}

{% block main %}

  <section class="">
    <h2 class="title is-2">Pick a category for the demo list</h2>

    <div class="columns">

      <div class="column">
        <div class="card">
	  <div class="card-content has-text-centered">
	    <div class="">
	      <p class="title is-1">🥕🍕🍔</p>
	    </div>
	    <h3 class="title is-3" id="card-product-description">{% trans "Food" %}</h3>
	    <a class="button is-link is-outlined" href="{% url 'answer_demo_1' food_list.id %}">{% trans "Go" %}</a>
	  </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
	  <div class="card-content has-text-centered">
	    <div class="">
	      <p class="title is-1">🏈⚽️🎾</p>
	    </div>
	    <h3 class="title is-3" id="card-product-description">{% trans "Sports" %}</h3>
	    <a class="button is-link is-outlined" href="{% url 'answer_demo_1' sport_list.id %}">{% trans "Go" %}</a>
	  </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
	  <div class="card-content has-text-centered">
	    <div class="">
	      <p class="title is-1">🎬🦹🎥</p>
	    </div>
	    <h3 class="title is-3" id="card-product-description">{% trans "Movies, TV series" %}</h3>
	    <a class="button is-link is-outlined" href="{% url 'answer_demo_1' movie_list.id %}">{% trans "Go" %}</a>
	  </div>
        </div>
      </div>

    </div> <!-- columns -->


  </section>



{% endblock main %}
