#main_block {
  min-height: calc(100vh - 40px);
}
.fancy_card {
  transition: all .5s ease; /* back to normal */
}
.fancy_card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  transition: all .4s ease; /* zoom in */
}
.my-modal-wrap {
  background: white;
  top: 30%;
  width: auto;
}
