{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Cool 404 view" %}{% endblock %}

{% block borderless %}
  <div>
    <figure class="image is-fullwidth">
      <img src="{% static 'images/404.png' %}">
    </figure>
  </div>
{% endblock borderless %}

{% block main %}
  <h2 class="title is-2 is-italic">{% trans "This link may have existed at some point in time or it may be an error in the matrix" %}.</h2>
  <a href="{% url 'hidden_red_panda' %}" hidden>hidden link</a>
  
{% endblock main %}
