<div id="my-modal-1" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section my-modal-wrap">
      <p id="modal-text-1"><p>
    </div>
  </div>
  <button id="my-modal-close-1" class="modal-close is-large" aria-label="close"></button>
</div>

<div id="my-modal-2" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="section my-modal-wrap">
      <p id="modal-text-2"><p>
    </div>
  </div>
  <button id="my-modal-close-2" class="modal-close is-large" aria-label="close"></button>
</div>
