{% extends "base.html" %}

{% load i18n %}

{% block main %}

<div class="content">

  <h1 class="title is-1">{% trans "About of" %}</h1>
  <p class="has-text-justified">{% trans "I've always made a lot of questions to myself." %}</p>
  <p class="has-text-justified">{% trans "Every time I finished a TV show, I wondered which character is the favorite one for the viewers? If you have to pick between the first and last season which one do you choose? If you could save a character between 2 that you like a lot, which one do you save?" %}</p>
  <p class="has-text-justified">{% trans "Sometimes I wonder, if you have to choose a food to eat for the rest of your life (and you can only eat that), which one do you pick? and if your alternatives are this or that, which one do you pick?" %}</p>
  <p class="has-text-justified">{% trans "After watching a superhero movie...which superpower would people prefer to have? super strength, super speed, invisibility and so on." %}</p>
  <p class="has-text-justified">{% trans "Also, I’ve always thought that it would be fun to see what people would answer to weird or deep questions. What would my friends answer to this or that?" %}</p>
  <p class="has-text-justified">{% trans "That’s how Huestions was born. A place where you can see the answer to this questions and you can share them with your friends, with your family or with anyone and see what they answer to the questions you've always wonder." %}</p>

</div>

{% endblock main %}
