{% extends "base.html" %}

{% load i18n %}

{% block head_title %}About page{% endblock %}

{% block main %}

<div class="content">

  <h1 class="title is-1">{% trans "About of" %}</h1>
  <p class="has-text-justified">🐣 {% trans "<b><u>H</u></b>ard Q<b><u>uestions</u></b>. Mixing both words, is how Huestions was born." %}</p>
  <p class="has-text-justified">💬 {% trans "The goal is pretty simple: make funny lists of questions, share these lists and see what your friends and the world answer." %}</p>
  <p class="has-text-justified">💡 {% trans "I have always wonder with certain tv series, movies, anime, which character people think is stronger or cooler? Or simply, similar questions with food, brands or sports.  That's where the idea came." %}</p>
  <p class="has-text-justified">🦥 {% trans "I like sloths." %}</p>

</div>

{% endblock main %}
