{% extends "base.html" %}

{% load static %}

{% block main %}

<div id="copy-to-clipboard-div" class="alert alert-info alert-dismissible text-center" role="alert" style="display:none">
  <strong>Copied!</strong> List copied to your clipboard, share with your friends 
</div>

<p>{{ questionlist.title }}</p>

{% for question in questions %}
  <h1>{{ question.title }}</h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="question_list_id" value="{{ questionlist.id }}">
    {% if questions.has_next %}
      <input type="hidden" name="next_page" value="{{ questions.next_page_number }}">
    {% endif %}
    <button id="button_to_vote" class="btn btn-success">Answer</button>
  </form>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if questions.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ questions.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current" id="current_question">
      Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
    </span>

    {% if questions.has_next %}
      <a href="?page={{ questions.next_page_number }}">next</a>
      <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

<button onclick="copyToClipboard('{{ request.build_absolute_uri }}')" class="btn btn-secondary btn-sm">Share list</button>
<script src="{% static 'js/share_list.js' %}" type="text/javascript"></script>
{% endblock main %}
