{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load static %}

{% load widget_tweaks %}


{% block main %}

  {% url 'answer_list' questionlist.slug user as list_url %}
  {% with domain_url=request.get_host %}
    <div class="field is-grouped">
      <div class="control">
        <h2 class="title is-2">{{ questionlist.title }}</h2>
      </div>
      <div class="control">
	<button data-toggle="tooltip" onclick="copyToClipboard('{{ request.scheme }}://{{ domain_url }}{{ list_url }}')" title="{% trans "Copied to clipboard" %}!" class="button is-light mb-2">{% trans "Copy list link" %}</button>
      </div>
      <div class="control">
	<a class="button" href="https://wa.me/?text={{ request.scheme }}://{{ domain_url }}{{ list_url}}" target="_blank" style="background-color:#25D366;color:white">
          <span class="icon">
            <i class="fab fa-whatsapp"></i>
          </span>
	  <span>{% trans "Share on WhatsApp" %}</span>
        </a>
      </div>
    </div>
  {% endwith %}

  {% localize off %}
    <progress class="progress is-primary" value="{{ percentage }}" max="100"></progress>
    <div class="has-text-right">
      <h4 class="title is-4">🏁<h4>
    </div>
  {% endlocalize %}

  <h3 class="title is-3">{{ question.title }}</h3>

  {% for choice in form.fields.alternatives.choices %}
    {% if forloop.first %}<div class="columns">{% endif %}
      <div class="column is-6">

	<form id="form{{ forloop.counter }}" action="" method="post">{% csrf_token %}
          <input id="id_alternatives_{{ forloop.counter0 }}" type="hidden" name="alternatives" value="{{ choice.0 }}">
        </form>

        <div class="card">

          <header class="card-header">
	    <p class="card-header-title is-centered">{{ choice.1 }}</p>
          </header>

	  <div class="card-content">

            <div class="columns is-flex is-centered">
              <figure class="image">
                {% if forloop.first %}
                  <img class="is-rounded" src="{{ form.img_1_url }}" alt="Placeholder image">
                {% else %}
                  <img class="is-rounded" src="{{ form.img_2_url }}" alt="Placeholder image">
                {% endif %}
              </figure>
            </div>

          </div> <!-- card content-->

          <footer class="card-footer">
	    <button id="button_alternative_{{ forloop.counter0}}" form="form{{ forloop.counter }}" class="card-footer-item button is-success is-large" name="alternative_{{ forloop.counter0}}_chosen">Vote</button>
          </footer>

	</div> <!-- card -->

      </div> <!-- col is-6 -->
      {% if forloop.counter|divisibleby:2 %}</div><div class="columns">{% endif %}
      {% if forloop.last %}</div>{% endif %}

  {% endfor %}

{% endblock main %}

{% block bootstrap_js_loaded %}
  <script src="{% static 'js/copy_to_clipboard.js' %}" type="text/javascript"></script>
{% endblock bootstrap_js_loaded %}
