{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Cookies{% endblock %}

{% block main %}

<div class="content">

  <h1 class="title is-1">🍪 Cookies</h1>
  <p><b>{% trans "Last updated" %} May 01, 2021</b><p>
  <p class="has-text-justified">{% trans "We only use Google Analytics" %}.</p>
  <p class="has-text-justified">{% trans "We have no proof but no doubts, that almost every site you visit, use it too" %}.</p>
  <p class="has-text-justified">{% trans "Oh! And of course, we use a cookie to know if we have to show you the cookies message or not. That's all. Have fun" %}.</p>

</div>
{% endblock main %}
