{% extends "base.html" %}
{% block main %}

<h1>Create a question</h1>

<form action="" method="post">
  {% csrf_token %}
  {{ question_form }}
  {{ alternatives_form }}
  <button type="submit" id="create_question_button">Create</button>
</form>

<form action="" method="post">
  {% csrf_token %}
  {{ complete_list_form }}
  <button type="submit" id="complete_button">Complete the list</button>
</form>

{{ kwargs }}
<a href="{% url 'edit_list' question_list_slug %}" id="view_list">View list</a>

{% endblock main %}
