{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}Create a list{% endblock %}

{% block main %}

<div class="card">
  <div class="card-content">
    <div class="content">

      <h2 class="title is-2">{% trans "Create a list" %}</h2>
      <form action="" method="post">{% csrf_token %}

        <div class="field">
          <div class="control">
	    <label for="id_title" >{% render_field form.title.label %}</label>
            {% if form.title.errors %}
              {% render_field form.title class+="input is-danger" %}
	      {% for error in form.title.errors %}
	        <p class="help is-danger">{{ error }}</p>
	      {% endfor %}
            {% else %}
              {% render_field form.title class+="input"  %}
	      <p class="help">{{ form.title.help_text }}</p>
            {% endif %}
          </div>
        </div>

        <div class="field">
          <div class="control">
	    <label for="id_tags" >{% render_field form.tags.label %}</label>
            {% if form.tags.errors %}
              {% render_field form.tags class+="input is-danger" placeholder=form.tags.label %}
	      {% for error in form.tags.errors %}
	        <p class="help is-danger">{{ error }}</p>
	      {% endfor %}
            {% else %}
              {% render_field form.tags class+="input" placeholder=form.tags.label %}
	      <p class="help">{{ form.tags.help_text }}</p>
            {% endif %}
          </div>
        </div>

	<div class="field">
          <div class="control">
	    {{ form.captcha }}
	    {% if form.captcha.errors %}
	      {% for error in form.captcha.errors %}
	        <p class="help is-danger">{{ error }}</p>
	      {% endfor %}
	    {% endif %}
          </div>
        </div>

        <button class="button is-success" type="submit" id="create_list_button">{% trans "Create" %}</button>
      </form>

    </div> <!--content-->
  </div> <!--card content-->
</div> <!--card-->

{% endblock main %}
