{% extends "base.html" %}
{% block main %}

{% if messages %}
<ul id="messages" class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<form action="" method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Change name</button>
</form>

<form action="" method="post">
  {% csrf_token %}
  {{ complete_list_form }}
  <button id="complete_button">Publish list</button>
</form>

<a href="{% url 'create_question' questionlist.slug %}" id="add_question">Add question</a>

<ol>
  {% for question in questionlist.questions.all %}
  <li>{{ question }} <a id="question_{{ forloop.counter0 }}" href="{{ question.get_absolute_url }}">Edit</a><form method="post" action="{% url 'delete_question' questionlist.slug question.id %}">{% csrf_token %}<input type="submit" id="delete_{{ forloop.counter0 }}" value="Delete"></form></li>
  {% endfor %}
</ol>

{% endblock main %}
