{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}

<h2 class="text-center">List: {{ questionlist}} <small>(Edit)</small></h2>

<form id="form1" action="" method="post">
  {% csrf_token %}
  {{ form|crispy }}
</form>

<form id="form2" action="" method="post">
  {% csrf_token %}
  {{ complete_list_form }}
</form>

<button form="form1" class="btn btn-outline-success" type="submit" id="edit_list_button">Change name</button>
or
<button form="form2" class="btn btn-success" id="complete_button">Publish list</button>
<p class="text-muted mt-2"><b>Note:</b> once published you can neither edit nor delete the list.</p>

<hr>

<h2 class="text-center">Current questions <small>(Maximum of 20 questions)</small></h2>
<a class="btn btn-primary mb-2" href="{% url 'add_question' questionlist.slug %}" id="add_question">Add a question</a>

<div class="row">
  {% for question in questionlist.questions.all %}

      <form id="form3" method="post" action="{% url 'delete_question' questionlist.slug question.id %}"> {% csrf_token %} </form>
      <div class="card mr-1 mt-1" style="">
        <div class="card-body">
	  <h5 class="card-title">{{ forloop.counter }}) {{ question }}</h5>
	  <ul>
	    {% for alternative in question.alternatives.all %}
	      <li>{{ alternative }}</li>
	    {% endfor %}
	  </ul>
          <a href="{{ question.get_absolute_url }}" class="btn btn-outline-primary" id="edit_{{ forloop.counter0 }}">Edit</a>
          <button form="form3" class="btn btn-danger" id="delete_{{ forloop.counter0 }}">Delete</button>
        </div>
      </div>

  {% endfor %}
</div>

{% endblock main %}
