{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block head_title %}Edit question{% endblock %}

{% block main %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'edit_list' form.question_list.slug %}">{{ form.question_list }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ form.title.value }}</a></li>
  </ul>
</nav>

<div class="card">
  <div class="card-content">
    <div class="content">

      <form action="" method="post">{% csrf_token %}

      <div class="field">
        <div class="control">
          <label for="id_title" >{% render_field form.title.label %}</label>
          {% if form.title.errors %}
            {% render_field form.title class+="input is-danger" %}
	    {% for error in form.title.errors %}
	      <p class="help is-danger">{{ error }}</p>
	    {% endfor %}
          {% else %}
            {% render_field form.title class+="input" %}
	    <p class="help">{{ form.title.help_text }}</p>
          {% endif %}
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="id_title" >{% render_field alternatives_form.alternative_1.label %}</label>
          {% if alternatives_form.alternative_1.errors %}
            {% render_field alternatives_form.alternative_1 class+="input is-danger" %}
	    {% for error in alternatives_form.alternative_1.errors %}
	      <p class="help is-danger">{{ error }}</p>
	    {% endfor %}
          {% else %}
            {% render_field alternatives_form.alternative_1 class+="input" %}
	    <p class="help">{{ alternatives_form.alternative_1.help_text }}</p>
          {% endif %}
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label for="id_title" >{% render_field alternatives_form.alternative_2.label %}</label>
          {% if alternatives_form.alternative_2.errors %}
            {% render_field alternatives_form.alternative_2 class+="input is-danger" %}
	    {% for error in alternatives_form.alternative_2.errors %}
	      <p class="help is-danger">{{ error }}</p>
	    {% endfor %}
          {% else %}
            {% render_field alternatives_form.alternative_2 class+="input" %}
	    <p class="help">{{ alternatives_form.alternative_2.help_text }}</p>
          {% endif %}
        </div>
      </div>


      <button type="submit" id="edit_question_button" class="button is-success">{% trans "Apply changes" %}</button>
      </form>

    </div> <!--content-->
  </div> <!--card content-->
</div> <!--card-->

{% endblock main %}
