{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block main %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'lists' user.username %}">{% trans "Your Lists" %}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ questionlist.title }}</a></li>
  </ul>
</nav>

<form id="form1" action="" method="post">{% csrf_token %}

  <div class="field">
    <div class="control">
      {% if form.title.errors %}
        {% render_field form.title class+="input is-danger" placeholder=form.title.label %}
	{% for error in form.title.errors %}
	  <p class="help is-danger">{{ error }}</p>
	{% endfor %}
      {% else %}
        {% render_field form.title class+="input" placeholder=form.title.label %}
	<p class="help">{{ form.title.help_text }}</p>
      {% endif %}
    </div>
  </div>

  <div class="field">
    <div class="control">
      {% if form.tags.errors %}
        {% render_field form.tags class+="input is-danger" placeholder=form.tags.label %}
	{% for error in form.tags.errors %}
	  <p class="help is-danger">{{ error }}</p>
	{% endfor %}
      {% else %}
        {% render_field form.tags class+="input" placeholder=form.tags.label %}
	<p class="help">{{ form.tags.help_text }}</p>
      {% endif %}
    </div>
  </div>

</form>

<form id="form2" action="" method="post">{% csrf_token %}
  {{ complete_list_form }}
</form>

<div class="field is-grouped mt-2">

  <div class="control">
    <button form="form1" class="button is-success is-outlined" type="submit" id="edit_list_button">{% trans "Apply changes" %}</button>
  </div>

  <div class="control">
    <button form="form2" class="button is-success" id="complete_button">{% trans "Publish list" %}</button>
  </div>

</div>
<p class="text-muted mt-2"><b>{% trans "Note" %}:</b> {% trans "once published you can neither edit nor delete the list." %}</p>


<hr>

<h3 class="title is-3">{% trans "Current questions" %}</h3>
<h3 class="subtitle">({% trans "Maximum of 20 questions" %})</h3>
<a class="button is-success mb-3" href="{% url 'add_question' questionlist.slug %}" id="add_question">{% trans "Add a question" %}</a>

{% for question in sorted_questions %}
    {% if forloop.first %}<div class="columns">{% endif %}
      <div class="column is-6">

	<form id="form3" method="post" action="{% url 'delete_question' questionlist.slug question.id %}">{% csrf_token %}</form>
        <div class="card">

	  <header class="card-header">
	    <p class="card-header-title" id="question_{{ forloop.counter0 }}_title">{{ forloop.counter }}) {{ question }}</p>
	  </header>

	  <div class="card-content">

	    <div class="media">
	      {% for alternative in question.alternatives.all %}
              <div class="media-left">
                <figure class="image is-48x48">
		  <img class="is-rounded" src="{{ alternative.image.url }}" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
		<p class="title is-4">{{ alternative }}</p>
              </div>
	      {% endfor %}
            </div>

	  </div> <!-- card-content -->

	  <footer class="card-footer">
	    <a href="{{ question.get_absolute_url }}" class="card-footer-item button is-light" id="edit_question_{{ forloop.counter0 }}">Edit</a>
	    <button form="form3" class="card-footer-item button is-danger" id="delete_{{ forloop.counter0 }}">Delete</button>
	  </footer>

        </div>  <!-- card -->
      </div>  <!-- col is-6 -->
      {% if forloop.counter|divisibleby:2 %}</div><div class="columns">{% endif %}
      {% if forloop.last %}</div>{% endif %}
  {% endfor %}

{% endblock main %}
