{% extends "base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block main %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{% url 'lists' user.username %}">{% trans "Your Lists" %}</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{ questionlist.title }}</a></li>
  </ul>
</nav>

<form id="form1" action="" method="post">{% csrf_token %}

  <div class="field">
    <div class="control">
      {% if form.title.errors %}
        {% render_field form.title class+="input is-danger" placeholder=form.title.label %}
	{% for error in form.title.errors %}
	  <p class="help is-danger">{{ error }}</p>
	{% endfor %}
      {% else %}
        {% render_field form.title class+="input" placeholder=form.title.label %}
	<p class="help">{{ form.title.help_text }}</p>
      {% endif %}
    </div>
  </div>

  <div class="field">
    <div class="control">
      {% if form.tags.errors %}
        {% render_field form.tags class+="input is-danger" placeholder=form.tags.label %}
	{% for error in form.tags.errors %}
	  <p class="help is-danger">{{ error }}</p>
	{% endfor %}
      {% else %}
        {% render_field form.tags class+="input" placeholder=form.tags.label %}
	<p class="help">{{ form.tags.help_text }}</p>
      {% endif %}
    </div>
  </div>

</form>

<form id="form2" action="" method="post">{% csrf_token %}
  {{ complete_list_form }}
</form>

<div class="field is-grouped mt-2">

  <div class="control">
    <button form="form1" class="button is-success is-outlined" type="submit" id="edit_list_button">{% trans "Change name" %}</button>
  </div>

  <div class="control">
    <button form="form2" class="button is-success" id="complete_button">{% trans "Publish list" %}</button>
  </div>

</div>
<p class="text-muted mt-2"><b>{% trans "Note" %}:</b> {% trans "once published you can neither edit nor delete the list." %}</p>


<hr>

<h3 class="title is-3">{% trans "Current questions" %}</h3>
<h3 class="subtitle">({% trans "Maximum of 20 questions" %})</h3>
<a class="button is-success mb-2" href="{% url 'add_question' questionlist.slug %}" id="add_question">{% trans "Add a question" %}</a>

{% for question in sorted_questions %}
  {% if forloop.first %}<div class="row mb-3">{% endif %}
    <div class="col-6">

    <form id="form3" method="post" action="{% url 'delete_question' questionlist.slug question.id %}"> {% csrf_token %} </form>
    <div class="card">
      <div class="card-body">
	<h5 class="card-title" id="question_{{ forloop.counter0 }}_title">{{ forloop.counter }}) {{ question }}</h5>
	<ul>
	  {% for alternative in question.alternatives.all %}
	    <li>{{ alternative }}</li>
	  {% endfor %}
	</ul>
	<a href="{{ question.get_absolute_url }}" class="btn btn-outline-primary" id="edit_question_{{ forloop.counter0 }}">Edit</a>
	<button form="form3" class="btn btn-danger" id="delete_{{ forloop.counter0 }}">Delete</button>
      </div>
    </div>

    </div>
  {% if forloop.counter|divisibleby:2 %}</div><div class="row mb-3">{% endif %}
  {% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock main %}
