{% load i18n %}

<footer class="footer mt-5">
  <div class="columns">

    <div class="column is-6 center-align">
      <div class="content has-text-centered">
        <p>
          <strong>&#169 Huestions</strong> by <a href="https://www.linkedin.com/in/j-alvarado-segura/" target=_blank">Jorge Alvarado</a>.
        </p>
	<p>2021</p>
      </div>
    </div>

    <div class="column is-2">
      <aside class="menu">
        <p class="menu-label">Social</p>
        <ul class="menu-list">
	  <li>
	    <a href="https://www.instagram.com/jorgealvarado__/" target="_blank">
	      <span class="icon-text">
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
                <span>Dev</span>
              </span>
	    </a>
	  </li>
	  <li>
	    <a href="https://www.instagram.com/circus.infernus/" target="_blank">
	      <span class="icon-text">
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
		<span>{% trans "Artist" %}</span>
              </span>
	    </a>
	  </li>
	  <li>
	    <a href="https://www.instagram.com/cokycola/" target="_blank">
	      <span class="icon-text">
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span>
		<span>{% trans "Graphic Designer" %}</span>
              </span>
	    </a>
	  </li>
        </ul>
      </aside>
    </div>

    <div class="column is-2">
      <aside class="menu">
        <p class="menu-label">Huestions</p>
        <ul class="menu-list">
	  <li><a href="{% url 'about' %}">{% trans "About of" %}</a></li>
	  <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
	  <li><a href="{% url 'terms_and_conditions' %}">{% trans "Terms" %}</a></li>
	  <li><a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Sitemap</a></li>
        </ul>
      </aside>
    </div>

    <div class="column is-2">
      <aside class="menu">
	<p class="menu-label">{% trans "Have fun" %}!</p>
        <ul class="menu-list">
	  <li><a href="{% url 'questions_list' %}">{% trans "Lists" %}</a></li>
          <li><a href="{% url 'create_list' %}">{% trans "Create a list" %}</a></li>
        </ul>
      </aside>
    </div>

  </div>
</footer>
