{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}Huestions, have fun!{% endblock %}

{% block main %}

<div class="content">

  <h2 class="title is-2">{% trans "Welcome to" %} Huestions 👋</h2>
  <p class="has-text-justified">😁 {% trans "Answer fun, hard and cool questions." %}</p>
  <p class="has-text-justified">🧐 {% trans "Create lists of questions with things you've always wondered." %}</p>
  <p class="has-text-justified">🙏 {% trans "Share with your friends or anyone you like." %}</p>
  <p class="has-text-justified">✅ {% trans "We try to add cool things every time we can." %}</p>
  {% url 'account_signup' as signup %}
  {% url 'terms_and_conditions' as terms %}
  <p class="has-text-justified">{% blocktrans %}You will need to <a href="{{ signup }}">create an account</a> to access all this fun. Remember to also read our <a href="{{ terms }}">terms</a>, by using this website you agree to the terms of services.{% endblocktrans %}</p>

</div>

{% endblock main %}
