{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Images Credit{% endblock %}

{% block main %}

<div class="content">
  <p>Images of alternatives uploaded by <b>Huestions</b> are taken from sites like <b>Pexels</b> and <b>Wikimedia Commons</b>. Normally using licenses with no restrictions, otherwise the respective attribution to the author and everything else it may need is given.</p>
  <p>Transformations: Huestions shrinks the images and adds a blurry background to them.</p>
  <p>On the other hand, users are responsible for meeting the license of the  pictures they upload. By using this site, they agreed to the terms and conditions in which it says what transformations Huestions does to the images.</p>
  <p>If some credit was given, it comes after this line.</p>

  <h3 class="title is-3">{{ question_list }}</h3>
  <ol>
  {% for question in question_list.questions.all %}
    <li>{% trans "Question" %}: {{ question }}</li>
    <ol>
      {% for alternative in question.alternatives.all %}
        {% if alternative.attribution %}
          <li>{% trans "Alternative" %}: {{ alternative }} &middot {% trans "Image credit" %}: <b>{{ alternative.attribution }}</b></li>
	{% else %}
	  <li>{% trans "Alternative" %}: {{ alternative }} &middot {% trans "No attribution required or not supplied" %}</b></li>
	{% endif %}
      {% endfor %}
    </ol>
  {% endfor %}
  </ol>
</div>
{% endblock main %}
