{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block main %}

  <h2>{% trans "Lists" %} <span class="badge badge-pill badge-info">Popular🔥</span></h2>

  {% for question_list in object_list %}
    <div class="card" style="">
      <div class="card-body">
	<h5 class="card-title">{{ question_list.title }} &middot <small>{% trans "by" %} {{ question_list.owner }}</small></h5>
	<h6 class="card-subtitle mb-2 text-muted">{% trans "Created:" %} {{ question_list.created|date:"M d, Y" }}</h6>
	<p class="card-text">{{ question_list.description }}</p>
	{% url 'answer_list' question_list.slug user as list_url %}
	{% with domain_url=request.get_host %}
	  <button data-toggle="tooltip" onclick="copyToClipboard('{{ domain_url }}{{ list_url }}')" class="btn btn-outline-secondary">{% trans "Share list" %}</button>
	{% endwith %}
	<a id="button_to_select" href="{{ question_list.get_absolute_url }}" class="btn btn-success">{% trans "Go" %}!</a>
      </div>
    </div>
    <br>
  {% endfor %}

  {% block bootstrap_js_loaded %}
    <script src="{% static 'js/copy_to_clipboard.js' %}" type="text/javascript"></script>
  {% endblock bootstrap_js_loaded %}

{% endblock main %}
