{% extends "base.html" %}

{% block main %}

  <h1>Terms and Conditions</h1>
  <p>These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and Termly Inc (“we,” “us” or “our”), concerning your access to and use of the https://localhost.com website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”). You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms of Use. If you do not agree with all of these terms of use, then you are expressly prohibited from using the site and you must discontinue use immediately.</p>

{% endblock main %}
