{% extends "base.html" %}

{% load i18n %}

{% block main %}

<h1>{% trans "Your stats" %}</h1>

<br>

<div class="row">

  <div class="col-6">

    <div class="card text-center" style="">
      <div class="card-body">
        <p class="card-text" style="font-size:50px">{{ lists_created }}</p>
      </div>
      <div class="card-footer">
        <h6>{% trans "Lists created" %}</h6>
      </div>
    </div>

  </div>

  <div class="col-6">

    <div class="card text-center" style="">
      <div class="card-body">
        <p class="card-text" style="font-size:50px">{{ questions_answered }}</p>
      </div>
      <div class="card-footer">
          <h6>{% trans "Questions Answered" %}</h6>
        </div>
    </div>

  </div>

</div>


{% endblock main %}
