{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Your stats{% endblock %}

{% block main %}

<h2 class="title is-2">{% trans "Your stats" %}</h2>

<br>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{% trans "Lists created" %}</p>
      <p class="title">{{ lists_created }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{% trans "Lists published" %}</p>
      <p class="title">{{ lists_published }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{% trans "Questions Answered" %}</p>
      <p class="title">{{ questions_answered }}</p>
    </div>
  </div>
</nav>

{% endblock main %}
