#main_block {
  min-height: calc(100vh - 40px);
}
.fancy_card {
  transition: all .5s ease; /* back to normal */
}
.fancy_card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  transition: all .4s ease; /* zoom in */
}
.my-modal-wrap {
  background: white;
  top: 30%;
  width: auto;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a:hover {
  color: green;
}

.cookie-p {
  padding: 12px 0px;
}

.cookie-btn {
  border: 0;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
